<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Cqrs.Packages" value="../NugetPackages/" />
    
  </packageSources>
   <!--<packageSourceCredentials>
    <customfeed>
      <add key="Username" value="abasda" />
      <add key="ClearTextPassword" value="ugweaofj4chl7vt4ha4u6erwmnxkiigxciyit2pf7wajyzo6lr7a" />
    </customfeed>
  </packageSourceCredentials>--> 
</configuration>